html,
body{
  height: 100%;
}
body{
  @extend %roboto-400;
  font-size: 16px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  color: $default;
  background-color: $bg;
}
.main{
  flex-grow: 1;
}
img{
  object-fit: cover;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
  @extend %roboto-500;
  font-size: 44px;
  line-height: 1.3;
  color: $title;
}
.subtitle{
  @extend %roboto-500;
  font-size: 20px;
  line-height: 1.5;
  color: $accent;
  text-transform: uppercase;
  margin-bottom: 10px;
}
a{
  color: $link;
}


